html
{
    background: gray;

}


.conteudoDia{
    background-color: gray;
    color: black;
}

.conteudoTarde{
    background-color: rgb(95, 91, 95);
    color: black;
}

.conteudoNoite{
    background-color: gray;
    color: blue;
}

.conteudoMadrugada{
    background-color: blue;
    color: white;
}